body {
  font-family: "Iceberg";
  background-color: #d5fff4;
}
header {
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin: auto;
  font-size: 30px;
  margin-bottom: 30px;
  color: black;
}

nav {
  background-color: #333;
  color: white;
  width: 100%;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #ff6347;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ddd;
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

article img {
  max-width: 70%;
  height: 150px;
  border-radius: 5px;
}

article h2 {
  margin-top: 0;
  font-size: 10px;
}
main h2 {
  text-align: center;
  margin-top: 2px;
  font-size: 14px;
}

footer {
  background-color: #333;
  color: white;
  height: 60px;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}
a {
  color: black;
  text-decoration: none;
  font-size: 12px;
}
.divleft {
  float: left;
  align-items: center;
  margin-left: 30px;
}
.divright {
  float: right;
  align-items: center;
  margin-right: 100px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

#sabor {
  float: left;
}

.listas ul:not(#sabor) {
  float: right;
}

#div2passo {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 10px;
  background-color: rgb(165, 165, 162);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  z-index: 4;
  align-items: center;
}
#div2passo label {
  margin-left: 50px;
  font-size: 14px;
  text-align: right;
}

#div2passo p#btn {
  margin-top: 30px;
}

#div3passo {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 350px;
  padding: 10px;
  background-color: rgb(165, 165, 162);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  z-index: 4;
  align-items: center;
}
#div4passo {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 410px;
  padding: 10px;
  background-color: rgb(165, 165, 162);
  border-radius: 10px;
  box-shadow: 5px 5px 10px #888888;
  z-index: 5;
  align-items: center;
}
#div4passo p {
  margin-left: 25px;
}

#div3passo label {
  display: inline-block;
  width: 60px;
  text-align: left;
  margin-left: 35px;
  font-size: 14px;
}
#div3passo input[type="text"],
input[type="number"] {
  padding: 2px;
  border: none;
  border-bottom: 1px solid black;
  margin: 0px;
}
#div2passo a,
#div3passo a,
#div4passo a {
  margin-left: 50px;
  font-size: 14px;
  background-color: #49664a;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 25px;
}
#div2passo p#btn,
#div3passo p#btn2,
#div4passo p#btn2 {
  margin-top: 30px;
  margin-left: 150px;
}
#soma {
  width: 415px;
  text-align: right;
  font-size: 16px;
}

select {
  width: 200px;
  height: 23px;
  font-size: 12px;
  align-items: center;
  background: #f2f2f3;
  padding-left: 25px;
  border-radius: 10px;
}
/* Estilos para a lista de sugestões */
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
}

.autocomplete-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:last-child {
  border-bottom: none;
}

.autocomplete-item:hover {
  background-color: #e9e9e9;
}

.autocomplete-item.selected {
  background-color: #f1f1f1;
}
