nav {
  background-color: #333;
  color: white;
  width: 100%;
  text-align: left;
  padding: 80px;
  margin-left: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 40px 40px 40px 40px;
}

nav a:hover {
  background-color: #ff6347;
}
